@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Text highlighting */
::selection {
  background: #e5b3c3;
}

/* `Globe` components */
.globe-container {
  display: flex;
  flex-direction: column;
  height: 100lvh;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -10;
    animation: fadeIn 5s ease-in-out;
  }
}
.content-container {
  z-index: 10;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 2.5s ease-in-out;
}
@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-delayed {
  animation: fadeInDelayed 2.33s ease-in-out;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start infinite;
  pointer-events: none;
}
@keyframes scaleIn {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center center;
  }

  0% {
    opacity: 0;
    transform: matrix(0.92, 0, 0, 0.92, 0, 0);
  }

  100% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
.scale-in {
  animation-name: scaleIn;
  animation-duration: 650ms;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 150ms;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}
.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 1rem;
}
.marquee-content {
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  gap: 1rem;
  min-width: 100%;
  animation: marquee 10s linear infinite;
}

/* Lightbox */
.photoswipe--custom {
  --pswp-bg: white !important;
}
